# Please define path to the following environment variables.

# Path to Hadoop directory.
HADOOP_HOME = ''

# Path to HBase directory.
HBASE_HOME = ''

# Jars for Hadoop Core, Hadoop Streaming and HBase.
CLASSPATH = (
    # '/path/to/file.jar',
)
